.outForms{
    max-width: 1440px;
    background-color: #384b56;
    min-width: 100%;
    min-height: 100%;
    padding: 1rem 0 1.9rem;
}

.forms{
    width: 80%;
    height: 82vh;
    max-width: 1200px;
    max-height: 1400px;
    margin: 0 auto;
    background: #405D6D;
    border-radius: 10px;
    padding-top: 29px;
}

#cpf{
    text-transform: uppercase;
}

.inputField {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5em;
}

.inputGroup{
    display: flex;
    flex-direction: column;
    max-width: 45%;
    min-width: 40%
}

.adressTitle{
    font-size: 2em;
    text-align: center;
    color: #fff;
    margin: 50px 0 30px;
}

label{
    color: #fff;
    margin: 0 0 0.3rem 1rem
}

input {
    border-radius: 6px;
    height: 2rem;
    box-shadow: none;
    border: transparent;
    padding-left: 1rem;
}

.buttonDiv {
    margin-bottom: 10px
}

.signIn {
    position: relative;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 190px;
    height: 50px;
    margin: 2rem 0 0 50%;
    background-color: #33C5F3;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    border: none;
}

.signIn:enabled:hover{
    cursor: pointer;
}

.signIn:disabled{
    background-color: #5399AE;
    color: #fff;
    opacity: 0.4;
}

